CREDITCOIN_RPC_URL=https://rpc.cc3-testnet.creditcoin.network/rpc
CREDITCOIN_PROOF_BUILDER_URL=https://proof-gen-api.cc3-testnet.creditcoin.network
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
SOURCE_CHAIN_KEY=1
EVM_V1_DECODER=0x731c345d79Fb8BbDC541f9DF3b6317585F849F9f
CREDITCOIN_DEPLOYER_KEY=
SEPOLIA_DEPLOYER_KEY=
